/* Note target the body first with the modifer.
For example, every evenSecond change the div color to blue.
Every oddSecond change the div color to red

body.evenS .time {
  color:blue;
}

body.oddS .time {
  color:red;
}

Target multiple together. Every evenSecond only in the evening, display an image.

body.evenS.pm .sunset {
  display:block;
}

*/
.time
{
  position: fixed;
  bottom: 1%;
  right:1%;
  font-family: Quicksand, sans-serif;
  font-size: 80%;
  color:rgba(255, 0, 0, 0.62);
}

/* Time CSS here */




body.evenS .time{

}



























/*end*/
